/*GALERIA*/

#bodyg {
    background-image: url(../img/fondo.jfif);
    display: grid;
    grid-template-areas: 
    "cabecera"
    "titulo"
    "galeria"
    "footer";
    grid-column: 1fr;
}

#titulo {
    margin: 1rem;
    grid-area: titulo;
    text-align: center;
    background-color: $color-aopaco;
}

#galeria {
    grid-area: galeria;
    @include flex-colum-centrado;
    margin-bottom: 2rem;

    .card2{
        background-color: $color-primario;    
    padding: 3rem;
    width: 19rem;
    height: 25rem;
    border: solid 1rem #00748d;
    transition: all 1s;

    &:hover{
        transform: scale(1.4);
    }
    }

    .card__imagen2{
        width: 18rem;
        height: 17rem;
    }
    
}
@media screen and (min-width: 1200px) {
    #galeria {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        
    }
}